@import "mdb-ui-kit/src/scss/mdb.free.scss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;

  --color-black: #000;
  --color-grey-100: #ccc;
  --color-grey-200: #888;
  --color-grey-300: #555;
  --color-grey-400: #222;
  --color-white: #fff;
  --color-ivory: #faf7dc;
  --color-ocher: #cbb687;
  --color-light-ocher: #e5dcb7;
  --color-mid-ocher: #b99f65;
  --color-dark-ocher: #756950;
  --color-light-green: #49d59c;
  --color-green: #1f5d50;
  --color-dark-green: #18473d;
  --color-brown: #2c2422;
}

.no-active {
  opacity: 0.2;
}

.status > div {
  display: grid;
  // flex-direction: row;
  grid-template-columns: 50px auto 10px;

  gap: 5px;
}

.status-button {
  display: grid;
  // flex-direction: row;
  grid-template-columns: 1fr 1fr;

  gap: 5px;
}

.small-fonts {
  font-size: 0.8rem;
}

.cards-list > div {
  margin: 15px;
}
.top-to-btm {
  position: relative;

  .icon-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }
  .icon-style {
    background-color: #551b54;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    padding: 7px;
  }
  .icon-style:hover {
    animation: none;
    background: #fff;
    color: #551b54;
    border: 2px solid #551b54;
  }
}

.filters-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
