#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

.no-active {
  opacity: 0.2;
}

.status-grid {
  display: flex;
}

@mixin status-grid-slider {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
}

.status-owned {
  @include status-grid-slider;
}

.status-wanted {
  @include status-grid-slider;
}

.small-fonts {
  font-size: 0.8rem;
}